.button--primary {
  padding: var(--spacing-150) var(--spacing-400);
  width: 100%;
  border-radius: var(--radius-10);
  cursor: pointer;
  outline-offset: 3px;
  background-color: var(--color-blue-600);
}

.button--home {
  padding: var(--spacing-200) var(--spacing-400);
}

.button--primary:hover {
  background-color: var(--color-blue-700);
}

.button--primary:focus {
  outline: 2.5px solid var(--color-blue-600);
}
