.log-sleep-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.log-sleep-header {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);
}

.log-sleep-icon {
  width: 22px;
  height: 22px;
}
