#header-nav {
  display: flex;
  justify-content: space-between;
}

#nav-profile-btn {
  display: flex;
  align-items: center;
  gap: var(spacing-125);
  cursor: pointer;
}

#nav-profile-img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: var(radius-full);
}
