#header-nav {
  display: flex;
  justify-content: space-between;
}

#nav-profile-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

#nav-profile-img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}
