.average-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
  overflow: hidden;
}

.average-details {
  border-radius: var(--radius-16);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
  padding: var(--spacing-250) var(--spacing-200);
  overflow: hidden;
  position: relative;
  height: 150px;
  justify-content: center;
}

.average-status {
  display: flex;
  gap: var(--spacing-150);
}

.average-mood-comparison {
  display: flex;
  gap: var(--spacing-100);
}

.average-trend-icon {
  width: 15px;
}

.average-pattern-img {
  position: absolute;
  top: -38px;
  left: calc(100% - 61px);
  overflow: hidden;
}
