#background-wrapper {
  background-image: var(--light-gradient);
  background-attachment: fixed;
  min-height: 100vh;
}

#page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--spacing-200);
  max-width: 704px;
  margin: 0 auto;
  box-sizing: content-box;
  padding-bottom: var(--spacing-1000);
}

@media (min-width: 768px) {
  #page-wrapper {
    padding-inline: var(--spacing-400);
  }
}

@media (min-width: 1024px) {
  #page-wrapper {
    max-width: 1170px;
  }
}
