@import "tailwindcss";

@font-face {
  font-family: "Reddit Sans Variable";
  src: url("/src/assets/fonts/Reddit_Sans/RedditSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reddit Sans Variable";
  src: url("/src/assets/fonts/Reddit_Sans/RedditSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  /* Neutral Colors */
  --color-neutral-0: #ffffff;
  --color-neutral-200: #cbcdd0;
  --color-neutral-300: #9393b7;
  --color-neutral-600: #57577b;
  --color-neutral-900: #21214d;

  /* Blue Colors */
  --color-blue-100: #e0e6fa;
  --color-blue-200: #c7d3f7;
  --color-blue-600: #4865db;
  --color-blue-700: #2a4cd5;

  /* Red Colors */
  --color-red-700: #e60013;

  /* Other Colors */
  --color-red-300: #ff9b99;
  --color-indigo-200: #b8b1ff;
  --color-blue-300: #89caff;
  --color-green-300: #89e780;
  --color-amber-300: #ffc97c;

  /* Light Gradient */
  --light-gradient: linear-gradient(180deg, #f5f5ff 72.99%, #e0e0ff 100%);

  /* Spacing */
  --spacing-0: 0; /* 0px */
  --spacing-025: 0.125rem; /* 2px */
  --spacing-050: 0.25rem; /* 4px */
  --spacing-075: 0.375rem; /* 6px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-125: 0.625rem; /* 10px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-225: 1.125rem; /* 18px */
  --spacing-250: 1.25rem; /* 20px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-600: 3rem; /* 48px */
  --spacing-800: 4rem; /* 64px */
  --spacing-1000: 5rem; /* 80px */

  /* Radius */
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

@layer utilities {
  .text-preset-1 {
    font-weight: 700;
    font-size: 3.25rem; /* 52px */
    line-height: 140%;
    letter-spacing: -0.125rem; /* -2px */
  }

  .text-preset-1-mobile {
    font-weight: 700;
    font-size: 2.875rem; /* 46px */
    line-height: 120%;
    letter-spacing: -0.125rem;
  }

  .text-preset-2 {
    font-weight: 700;
    font-size: 2.5rem; /* 40px */
    line-height: 120%;
    letter-spacing: -0.01875rem; /* -0.3px */
  }

  .text-preset-2-mobile {
    font-weight: 700;
    font-size: 2rem; /* 32px */
    line-height: 120%;
    letter-spacing: -0.01875rem;
  }

  .text-preset-3 {
    font-weight: 700;
    font-size: 2rem; /* 32px */
    line-height: 140%;
    letter-spacing: -0.01875rem;
  }

  .text-preset-3-mobile {
    font-weight: 700;
    font-size: 1.75rem; /* 28px */
    line-height: 130%;
    letter-spacing: -0.01875rem;
  }

  .text-preset-4 {
    font-weight: 600;
    font-size: 1.5rem; /* 24px */
    line-height: 140%;
    letter-spacing: 0;
  }

  .text-preset-4-regular {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0;
  }

  .text-preset-5 {
    font-weight: 600;
    font-size: 1.25rem; /* 20px */
    line-height: 140%;
    letter-spacing: 0;
  }

  .text-preset-6 {
    font-weight: 500;
    font-size: 1.125rem; /* 18px */
    line-height: 120%;
    letter-spacing: 0;
  }

  .text-preset-6-italic {
    font-weight: 500;
    font-style: italic;
    font-size: 1.125rem;
    line-height: 130%;
    letter-spacing: 0;
  }

  .text-preset-6-regular {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 140%;
    letter-spacing: -0.01875rem;
  }

  .text-preset-7 {
    font-weight: 400;
    font-size: 0.9375rem; /* 15px */
    line-height: 140%;
    letter-spacing: -0.01875rem;
  }

  .text-preset-8 {
    font-weight: 600;
    font-size: 0.8125rem; /* 13px */
    line-height: 100%;
    letter-spacing: 0;
  }

  .text-preset-9 {
    font-weight: 400;
    font-size: 0.75rem; /* 12px */
    line-height: 110%;
    letter-spacing: 0;
  }

  .placeholder\:text-preset-6-italic::placeholder {
    font-weight: 500;
    font-style: italic;
    font-size: 1.125rem;
    line-height: 130%;
    letter-spacing: 0;
  }

  @media (min-width: 768px) {
    .md\:text-preset-1 {
      font-weight: 700;
      font-size: 3.25rem; /* 52px */
      line-height: 140%;
      letter-spacing: -0.125rem; /* -2px */
    }

    .md\:text-preset-2 {
      font-weight: 700;
      font-size: 2.5rem; /* 40px */
      line-height: 120%;
      letter-spacing: -0.01875rem; /* -0.3px */
    }

    .md\:text-preset-3 {
      font-weight: 700;
      font-size: 2rem; /* 32px */
      line-height: 140%;
      letter-spacing: -0.01875rem;
    }
  }
}

/* Update tailwind base unit for spacing to match 16px(1 rem) */
:root {
  --spacing: 0.005rem; /* 0.005rem × 200 = 1rem */
}

@layer base {
  html {
    font-family: "Reddit Sans Variable", "system-ui", "sans-serif";
  }
}
