#home-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  position: relative;
}

#home-header {
  width: 100%;
  padding-top: var(--spacing-400);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);
}

#home-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
  text-align: center;
}

#section-mood-logged {
  display: grid;
  gap: var(--spacing-250);
}

#sleep-reflection-container {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

#home-main {
  display: grid;
  gap: var(--spacing-400);
}

#avg-mood-section {
  padding: var(--spacing-250) var(--spacing-200);
  gap: var(--spacing-300);
}

@media (min-width: 768px) {
  #home-header {
    padding-top: var(--spacing-500);
  }
}

@media (min-width: 1024px) {
  #home-main {
    grid-template-columns: 370px 1fr;
  }

  #section-mood-logged {
    grid-template-columns: 1fr 0.7fr; /*670px*/
    column-gap: var(--spacing-400);
    row-gap: var(--spacing-250);
  }
}
